{% extends '@Blog/base.html.twig' %}
{% block article %}
    <div class="col-md-8">
      <!-- Post Content Column -->

            <!-- Title -->
                <h1 class="mt-4">{{ article.title }}</h1>
            <!-- Author -->
        {% if article.users == null %}
            <h6>Создал анонимный пользователь</h6>
        {% endif %}
        {% if article.users != null %}
            Создал {{ article.users.name }}
        {% endif %}
            <hr>

            <!-- Date/Time -->
            <p>{{ article.created|date }}</p>

            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ article.linkToImage }}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">
                {{ article.article }}
            </p>

            <hr>
            <!-- Comments Form -->
        <p>
            <h4>Комментарии</h4>
        <hr>
        {% for comment in comments %}
        <div class="comment row">
            <div class="comment-user col-md-4">
                <p>{{ comment.user }}</p>
                <div class="comment-date">
                    {{ comment.created|date('Y.M.D') }}
                </div>
            </div>
            <div class="comment-text col-md-8">
                <p>{{ comment.text }}</p>
            </div>
        </div>
        {% endfor %}
        </p>
            <div class="card my-4">
                <h5 class="card-header">Оставить комментарий</h5>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-group'}}) }}
                    <div class="form-group">
                    {{ form_row(form.text, {'attr': {'class': 'form-control', 'rows': '3'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Комментировать</button>
                    {{ form_end(form) }}
                </div>
            </div>
    </div>
{% endblock article %}