{% extends '@Blog/base.html.twig' %}

    {% block article %}
        <!-- Post Content Column -->

        <div class="col-lg-8" style="margin-top: 50px;">

        <h4>
            {{ wo_render_breadcrumbs() }}
        </h4>
            <!-- Title -->
            {% for article in pagination %}
                <h1 class="mt-4"><a href="{{ path('blog_homepage', {'id':article.id}) }}">{{ article.title }}</a></h1>

            <!-- Author -->
            <p class="lead">
                {{ article.users.name }}
            </p>

            <hr>

            <!-- Date/Time -->
            <p>{{ article.created|date }}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ article.linkToImage }}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">
                {{ article.article }}
            </p>

            <hr>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock article %}


