{% extends '@Blog/base.html.twig' %}

    {% block article %}
        <!-- Post Content Column -->
        {% if articles is defined and articles == null %}
            <h2> Нету статтей по выбранным параметрам !</h2>
        {% endif %}
        <div class="col-lg-9">
            <hr/>
            <!-- Title -->
            {% for article in pagination %}
                <h1 class="mt-4"><a href="{{ path('blog_article', {'id':article.id}) }}">{{ article.title }}</a></h1>


            <!-- Author -->
                {% if article.users == null %}
                    <h6>Создал анонимный пользователь</h6>
                {% endif %}
                {% if article.users != null %}
                    Создал {{ article.users.name }}
                {% endif %}

            <hr>

            <!-- Date/Time -->
            <p>{{ article.created|date }}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ article.linkToImage }}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead" style="text-align: justify;">
                {{ article.article }}
            </p>

            <hr>

            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endblock article %}


