{% extends '@Blog/base.html.twig' %}

    {% block article %}
        <!-- Post Content Column -->

        <div class="col-lg-8" style="margin-top: 50px;">

        <h4>
            {{ wo_render_breadcrumbs() }}
        </h4>
            <!-- Title -->
            {% for article in pagination %}
            <h1 class="mt-4">{{ article.title }}</h1>

            <!-- Author -->
            <p class="lead">
                by
                {{ app.user ? app.user.name : 'Aquanauts' }}!
            </p>

            <hr>

            <!-- Date/Time -->
            <p>{{ article.created|date }}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ article.linkToImage }}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">
                {{ article.article }}
            </p>

            <hr>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock article %}
{% block sidebar %}
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            {% for category in categories %}
                            <li>
                                <a href="#">{{ category.getName }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </div>
        </div>

        <!-- Tags Widget -->
        <div class="card my-4">
            <h5 class="card-header">Tags</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            {% for tag in tags %}
                                <li>
                                    <a href="#">{{ tag.getName }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>

    </div>
{% endblock sidebar %}

