{% extends '@Blog/base.html.twig' %}

{% block main_content %}
    <div class="container">
        <div class="row" style="height: 600px;">
            <div class="col-md-2"></div>
            <div class="col-md-8" >
                <h2>Регистрация</h2>
                {{ form_start(form) }}
                    {{ form_row(form.name, {
                        'label': 'Имя'
                    }) }}
                    {{ form_row(form.email, {
                        'label': 'Почта'
                    }) }}
                    {{ form_row(form.plainPassword.first, {
                        'label': 'Пароль'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Повторите Пароль'
                    }) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>Зарегистрироваться</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock main_content %}